
.link  {
    text-decoration: none;
    color: black;
    text-decoration-color: black ;
    cursor: pointer;
}
.authorPic  > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
}
.post-body{
    background-color: #fff;
    width: 400px;
    margin: 0px 25px 40px 25px;
}